@import "tailwindcss";

:root {
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Helvetica Neue', sans-serif;
}

* {
	box-sizing: border-box;
}

html, body {
	overscroll-behavior-x: none;
}

body {
	min-height: 100vh;
}
