@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Helvetica Neue', sans-serif;
}

body {
	min-height: 100vh;
}
